body {
  max-width: 65ch;
}

td {
  transition: all;
  transition-duration: 300ms;
}

table {
  margin-block: 1em;
}

table[id^="random"] {
  cursor: pointer;
  border-collapse: collapse;
}

table[id^="random"] td:first-of-type {
  text-align: center;
}

table[id^="random"] th:not(:first-of-type),
table[id^="random"] td:not(:first-of-type) {
  padding-inline-start: 1em;
}

.highlight {
}

.gray-out {
  color: darkgray;
}
