body {
    max-width: 65ch;
    margin-inline: auto;
}
.variant {
    border: 1px solid black;
    padding: 1ch;
    margin-block: 1em;
}
.variant::before {
    font-style: italic;
}
.fate::before {
    content: "Fate statistics";
}
.pf2e::before {
    content: "Pathfinder 2nd Edition statistics";
}
